.sobre-main {
  color: $texto-marrom;
  padding-bottom: 200px;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 66px;

    &--top {
      display: flex;
      justify-content: space-between;
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: 90px;

      @include d(s) {
        margin-bottom: 40px;
        margin: 0 auto;
        max-width: 320px;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 1100px;

    &--title {
      font: normal normal 900 30px/19px Roboto;
      margin-left: 20px;

      @include d(s) {
        font: normal normal 900 20px/19px Roboto;
      }
    }

    @include d(s) {
      max-width: 320px;
    }
  }

  &__desc {
    max-width: 530px;
    margin-right: 60px;

    &--text {
      font: normal normal normal 16px/19px Roboto;
      color: $texto-marrom;
      margin-bottom: 20px;
    }

    @include d(s) {
      margin-right: 0px;
    }
  }

  &__img {
    display: block;

    @include d(s) {
      display: none;
    }

    img {
      border-radius: 8px;
      max-width: 554px;
      height: 330px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 105px;
    flex-wrap: wrap;

    @include d(s) {
      max-width: 340px;
    }
  }

  &__card {
    display: flex;
    box-sizing: border-box;
    padding: 38px 20px;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 2px 5px #4d4d4d1a;
    border-radius: 32px;

    @include d(s) {
      padding: 20px 21px;

      &:nth-child(2) {
        p {
          margin-left: 20px;
        }
      }
    }
    i {
      &::before {
        color: $verde-claro;
        font-size: 60px;
      }
    }

    svg {
      path {
        fill: $verde-claro;
      }

      @include d(s) {
        transform: scale(0.5);
      }
    }

    &--desc {
      font: normal normal 900 24px/27px Roboto;
      letter-spacing: 0.42px;
      color: $texto-marrom;
      margin-left: 30px;
      max-width: 210px;
      text-transform: uppercase;

      @include d(s) {
        font: normal normal 900 14px/22px Roboto;
        max-width: 180px;
      }
    }
  }

  &__text-p {
    max-width: 1100px;
    margin: 0 auto;
    margin-left: 90px;
    margin-bottom: 60px;
    font: normal normal normal 16px/19px Roboto;

    @include d(s) {
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }

  &__content-mid {
    max-width: 1100px;
    margin: 0 auto;
    margin-left: 90px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    img {
      max-width: 260px;
      width: 100%;
      object-fit: cover;
      height: 198px;
      border-radius: 8px;
    }

    @include d(s) {
      overflow: auto;
      margin-left: 35px;
    }
  }
}
