.fundo-vetpoints {
  background: url("../assets/fundo-vetpoints.svg");

  @include d(s) {
    background: url("../assets/fundo-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.vetpoints {
  &__capao {
    display: flex;
    justify-content: right;
    padding-bottom: 120px;

    @include d(s) {
      justify-content: center;
    }

    &--container {
      max-width: 1620px;
      display: flex;
      justify-content: right;
      margin-right: 0px;
      padding-left: 50px;

      @include d(n) {
        max-width: 1260px;
      }

      @include d(m) {
        max-width: 960px;
      }

      @include d(s) {
        max-width: 340px;
        justify-content: center;
        padding-left: 0px;
      }
    }

    &--img {
      @include d(s) {
        display: none;
      }

      img {
        max-width: 874px;
        object-fit: cover;
        min-height: 660px;
        -webkit-mask-image: url("../assets/mascara-default.svg");
        mask-image: url("../assets/mascara-default.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        @include d(n) {
          max-width: 500px;
        }

        @include d(l) {
          max-width: 360px;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &--logo {
      padding: 65px 0 90px;

      @include d(n) {
        padding-bottom: 60px;
      }

      @include d(s) {
        text-align: center;
        padding: 15px 0 10px;

        transform: scale(0.6);
      }
    }

    &--title {
      font: normal normal bold 64px/72px $fonte-2;
      max-width: 800px;
      color: $texto-azul;
      margin-bottom: 20px;

      span {
        color: $texto-azul-claro;
      }

      @include d(l) {
        font: normal normal bold 40px/52px $fonte-2;
        max-width: 500px;
      }

      @include d(s) {
        font: normal normal bold 25px/33px $fonte-2;
        letter-spacing: 0.5px;
        max-width: 330px;
      }
    }

    &--content-p {
      max-height: 7em;
      color: $texto-azul;
      font: normal normal normal 16px/22px $fonte-2;
      margin-bottom: 30px;
      overflow: hidden;
      text-shadow: 0px 3px 6px #ffffff29;
      line-height: 1em;

      @include d(s) {
        font: normal normal normal 16px/19px $fonte-2;
        line-height: 1em;
      }
    }

    &--apps {
      display: flex;

      @include d(s) {
        margin-top: 30px;
      }
    }

    &--btn-container {
      max-width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      @include d(s) {
        flex-direction: column;
      }
    }

    &--button-container {
      position: relative;
      background-color: $azul;
      left: 0;
      right: 0;
      margin: 0;
      width: 140px;
      text-align: center;
      padding: 15px 20px;
      padding-right: 40;
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 3px 6px #00000029;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        display: block;
        background-color: $azul-claro;
        left: 0;
        top: 0;
        transition: all 0.3s;
        border-radius: 0px;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      a {
        color: $texto-branco;
        font: normal normal normal 17px/20px $fonte-2;
        letter-spacing: 0.34px;
        position: relative;
        z-index: 2;

        &::after {
          position: absolute;
          content: url("../assets/arrow-down-short-w.svg");
          right: -30%;
          transform: scale(1.2);
        }
      }
    }
  }

  &__main {
    padding-bottom: 204px;

    &--title {
      text-align: center;
      font: normal normal bold 35px/38px Raleway;
      letter-spacing: 0.7px;
      color: $texto-azul;
      max-width: 674px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 60px;

      @include d(n) {
        font-size: 28px;
        max-width: 500px;
      }

      @include d(m) {
        font-size: 24px;
        max-width: 400px;
      }

      @include d(s) {
        font: normal normal bold 20px/23px Raleway;
        margin-bottom: 30px;
        max-width: 370px;
      }

      svg {
        position: absolute;
        background-color: $azul-claro;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        top: -110%;
        left: 0;
        right: 0;
        margin: 0 auto;

        @include d(s) {
          width: 20px;
          height: 20px;
        }
      }
    }

    &--cards {
      max-width: 1330px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      overflow: auto;
      padding-bottom: 40px;

      @include d(l) {
        margin-left: 40px;
      }

      @include d(s) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }

    .card-default {
      @include d(s) {
        margin-bottom: 50px;
      }
    }

    .card-ativo {
      @include d(m) {
        margin-right: 60px;
      }

      @include d(s) {
        margin-right: 0px;
      }

      .vetpoints__main--card {
        background-color: $azul;
        box-sizing: border-box;
        border-radius: 65px;
        width: 302;
        padding: 36px 40px 54px 40px;
        color: $texto-branco;
        box-shadow: 0px 3px 6px #00000029;
        height: 350px;

        &__svg {
          background-color: $texto-branco;
          display: inline-block;
          border-radius: 50%;
          padding: 16px;
          margin-bottom: 30px;
          transition: all 0.3s ease-in-out;

          svg {
            width: 25px;
            height: 25px;
          }
        }

        &__title {
          font: normal normal bold 20px/24px $fonte-2;
          letter-spacing: 0.4px;
          margin-bottom: 30px;
          line-height: 1em;
          max-height: 3em;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
        }

        &__desc-p {
          font: normal 300 normal 16px/19px $fonte-2;
          max-height: 7em;
          line-height: 1em;
          overflow: hidden;
        }

        &__desc {
          display: none;
        }
      }
    }

    .card-inativo {
      @include d(m) {
        margin-right: 60px;
      }

      .vetpoints__main--card {
        &__title {
          display: none;
        }

        &__desc-p {
          display: none;
        }

        &__desc {
          line-height: 1em;
          max-height: 2em;
          overflow: hidden;
        }

        height: 350px;
        text-align: center;
        background: #fff;
        border-radius: 65px;
        width: 302px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 40px 23px;
        box-sizing: border-box;
        color: $texto-azul;
        font: normal normal 600 20px/24px $fonte-2;
        letter-spacing: 0.4px;
        transition: 0.3s all ease-in-out;
        box-shadow: 0px 3px 6px #00000029;

        &__svg {
          border: 2px solid $azul;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 20px;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 30px;
            height: 30px;

            path {
              fill: $azul;
            }
          }
        }

        &__img {
          display: inline-block;
          padding: 15px;
          border: 2px solid $azul;
          border-radius: 50%;
          margin: 0 auto;

          svg {
            width: 50px;
            height: 30px;
          }
        }

        &:hover {
          background: rgba(55, 131, 194, 0.08);
        }
      }
    }
  }

  &__celular {
    &--container {
      display: flex;
      max-width: 1300px;
      margin: 0 auto;
      justify-content: space-between;
      margin-bottom: 300px;

      @include d(s) {
        flex-direction: column-reverse;
        margin-bottom: 120px;
      }
    }

    &--celular-int {
      padding-top: 160px;
      text-align: center;
      position: relative;

      @include d(n) {
        padding-left: 250px;
      }

      @include d(s) {
        padding-top: 100px;
      }

      &--position {
        max-height: 560px;
        position: relative;
      }

      &__checkbox {
        width: 100%;

        .square-w {
          box-sizing: border-box;
          position: absolute;
          background-color: #fff;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 25px;
          max-width: 144px;
          width: 100%;
          height: 100%;
          max-height: 9em;
          display: flex;
          align-items: center;
          padding: 40px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $texto-azul;
          font: bold 16px / 20px $fonte-2;
        }

        .square-b {
          box-sizing: border-box;
          padding: 10px 20px 10px;
          position: absolute;
          background-color: $azul-claro;
          width: 100%;
          max-width: 250px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 33px;
          max-height: 8em;
          height: 8em !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          text-align: center;
          color: $texto-azul;
          font: bold 16px / 20px $fonte-2;
        }

        &.top-square {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;

          &.square-ativo {
            opacity: 1;
            visibility: visible;
          }

          .square-w {
            top: 60%;
            left: -10%;

            @include d(s) {
              top: 50%;
              left: 10%;
            }
          }

          .square-b {
            top: 20%;
            right: -30%;

            @include d(s) {
              top: 20%;
              right: 10%;
            }
          }
        }

        &.mid-square {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;

          &.square-ativo {
            opacity: 1;
            visibility: visible;
          }

          .square-w {
            top: 20%;
            right: -20%;

            @include d(s) {
              top: 20%;
              right: 10%;
            }
          }

          .square-b {
            top: 60%;
            left: -10%;

            @include d(s) {
              top: 60%;
              left: 3%;
            }
          }
        }

        &.final-square {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;

          &.square-ativo {
            opacity: 1;
            visibility: visible;
          }

          .square-w {
            top: 60%;
            left: -10%;

            @include d(s) {
              top: 60%;
              left: 10%;
            }
          }

          .square-b {
            top: 30%;
            right: -30%;

            @include d(s) {
              top: 30%;
              right: 10%;
            }
          }
        }
      }
    }

    &--links {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }

    &--title {
      font: normal normal bold 35px/38px $fonte-2;
      letter-spacing: 0.7px;
      color: $texto-azul;
      max-width: 600px;
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: url("../assets/logo-celular.svg");
        left: -17%;
      }

      @include d(n) {
        max-width: 430px;
        font: normal normal bold 25px/38px $fonte-2;

        &::before {
          left: -20%;
          transform: scale(0.6);
        }
      }

      @include d(s) {
        max-width: 340px;
        margin: 0 auto;
        font: normal normal bold 20px/24px $fonte-2;
        letter-spacing: 0.4px;
        text-align: center;
        margin-bottom: 30px;

        &::before {
          display: none;
        }
      }
    }

    &--desc {
      font: normal normal normal 18px/19px $fonte-2;
      color: $texto-azul;

      @include d(s) {
        font: normal normal normal 14px/16px $fonte-2;
        letter-spacing: 0px;
        text-align: center;
      }
    }

    &--checkbox-container {
      margin-top: 60px;

      @include d(s) {
        display: flex;
        justify-content: center;
        max-width: 320px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;

        &::before {
          content: "";
          width: 60%;
          z-index: -1;
          top: 18%;
          height: 4px;
          background-color: $azul-cinza;
          position: absolute;
        }
      }
    }

    .checkbox-btn {
      padding-bottom: 100px;

      @include d(s) {
        padding-bottom: 75px;
      }
    }

    &--checkbox {
      display: flex;
      z-index: 2;
      position: relative;
      max-width: 300px;
      width: 100%;

      @include d(s) {
        position: unset;
      }

      &.meio {
        padding-left: 30px;

        @include d(s) {
          padding: 0px 35px;
        }
      }

      &__desc {
        display: none;
      }

      @include d(s) {
        .vetpoints__celular--checkbox__desc {
          display: none;
        }
      }

      &.checkbox-ativo {
        @include d(s) {
          .vetpoints__celular--checkbox__desc {
            display: block;
          }
        }

        .vetpoints__celular--checkbox__numero {
          background-color: $azul-claro;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 0;
          flex-shrink: 0;
          border-radius: 100%;
          color: $texto-branco;
          font: normal normal bold 35px/38px $fonte-1;
          letter-spacing: 0.7px;
        }
      }

      &__numero {
        background-color: $azul-cinza;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 100%;
        color: $texto-branco;
        font: normal normal bold 35px/38px $fonte-1;
        letter-spacing: 0.7px;
      }

      &__desc {
        padding-left: 30px;
        display: block;
        color: $texto-azul;

        @include d(s) {
          padding-left: 0px;

          h3 {
            position: absolute;
            bottom: -30%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 200px;
            text-align: center;
          }
        }

        h3 {
          font: normal normal bold 20px/24px $fonte-2;
          letter-spacing: 0.4px;
          margin-bottom: 15px;
          line-height: 1em;
          max-height: 3em;
        }

        p {
          @include d(s) {
            display: none;
          }

          font: normal normal normal 16px/19px $fonte-2;
          line-height: 1em;
          max-height: 5em;
          overflow: hidden;
        }
      }
    }

    &--curva {
      position: relative;

      @include d(s) {
        display: flex;
        position: unset;
      }

      svg {
        position: absolute;
        z-index: 1;
        width: 35px;
        top: 5px;
        left: 20px;
        height: calc(100% - 5px);

        @include d(s) {
          display: none;
        }
      }
    }
  }

  &__comentarios {
    margin-bottom: 60px;

    &--title {
      text-align: center;
      font: normal normal bold 35px/38px $fonte-2;
      letter-spacing: 0.7px;
      color: $texto-azul;
      position: relative;
      margin-bottom: 10px;

      @include d(n) {
        font-size: 28px;
        margin-bottom: 5px;
      }

      @include d(m) {
        font-size: 24px;
        margin-bottom: 5px;
      }

      @include d(s) {
        font: normal normal bold 20px/24px $fonte-2;
        max-width: 250px;
        text-align: center;
        letter-spacing: 0.4px;
        margin: 0 auto;
      }

      &::before {
        position: absolute;
        content: url("../assets/commenting.svg");
        background-color: $azul-claro;
        padding: 15px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        top: -270%;

        @include d(n) {
          padding: 10px 10px 5px;
        }

        @include d(l) {
          padding: 12px 10px 4px;
        }

        @include d(s) {
          top: -130%;
          transform: scale(0.7);
          padding: 14px 10px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &--desc {
      text-align: center;
      color: $texto-azul;
      font: normal normal 600 20px/22px $fonte-2;
      letter-spacing: 0.7px;
      margin-bottom: 50px;

      @include d(n) {
        font-size: 18px;
      }

      @include d(n) {
        font-size: 16px;
      }

      @include d(s) {
        font: normal normal 500 14px/22px $fonte-2;
        letter-spacing: 0.28px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
    }

    &--comments {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 60px 0px;

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
        content: url("../assets/arrow-down-circle-fill-azul.svg");
      }

      .swiper-button-prev {
        transform: rotate(180deg);
      }

      .swiper-slide {
        max-width: 650px;
        margin: 0 100px;

        @include d(s) {
          max-width: 290px;
          margin: 0 20px;
          height: 100%;
          margin-right: 0px;
        }

        .vetpoints__comentarios--slide {
          background-color: #fff;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 22px;
          padding: 35px 56px;

          @include d(s) {
            padding: 35px 22px 30px;
          }
        }

        .comentarios__content--nome,
        .comentarios__content--profissao,
        .comentarios__comentario {
          color: $texto-azul;
          font-family: $fonte-2;
        }
      }

      .comentarios__comentario {
        @include d(s) {
          max-height: 15em;
          overflow: hidden;
        }
      }

      .swiper-slide-active {
        .vetpoints__comentarios--slide {
          background-color: $azul;
          color: $texto-branco;
          height: 180px;

          @include d(s) {
            height: auto;
          }
        }

        .comentarios__content--nome,
        .comentarios__content--profissao,
        .comentarios__comentario {
          color: $texto-branco;
          line-height: 1em;
          max-height: 8em;
          overflow: hidden;

          @include d(s) {
            max-height: 15em;
          }
        }
      }
    }

    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        display: block;
        content: url("../assets/arrow-down-circle-fill-azul.svg");
      }

      .swiper-button-next {
        right: 25%;
        @include d(n) {
          right: 20%;
        }

        @include d(l) {
          right: 10%;
        }

        @include d(s) {
          display: none;
        }
      }

      .swiper-button-prev {
        left: 27%;

        @include d(n) {
          left: 20%;
        }

        @include d(l) {
          left: 10%;
        }

        @include d(s) {
          display: none;
        }
      }
    }
  }

  &__cta {
    text-align: center;
    padding-bottom: 50px;

    &--container {
      max-width: 1200px;
      margin: 0 auto;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 59px;
      background-color: $azul;
      padding: 40px 0px;
      text-align: center;
      position: relative;
      margin-bottom: 120px;

      @include d(m) {
        max-width: 800px;
        margin-bottom: 50px;
      }

      @include d(s) {
        max-width: 300px;
        padding: 30px 23px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 22px;
        margin-bottom: 60px;
      }
    }

    &--indique {
      font: normal normal 500 30px/38px $fonte-2;
      letter-spacing: 0.6px;
      color: $texto-branco;
      margin-bottom: 40px;
      position: relative;
      display: inline-block;

      &::before {
        content: url("../assets/logo-vet.svg");
        position: absolute;
        left: -12%;
        top: -20%;
      }

      @include d(m) {
        font-size: 24px;

        &::before {
          left: -15%;
        }
      }

      @include d(s) {
        font: normal normal 500 20px/24px $fonte-2;
        letter-spacing: 0.4px;
        margin-bottom: 20px;

        &::before {
          content: url("../assets/logo-branco-vet.svg");
          left: 0;
          right: 0;
          margin: 0 auto;
          top: -114%;
        }
      }
    }

    &--title {
      max-width: 890px;
      color: $texto-branco;
      margin: 0 auto;
      font: normal normal 900 45px/50px $fonte-2;
      letter-spacing: 0.9px;
      padding-bottom: 40px;

      @include d(m) {
        font: normal normal 900 32px/40px $fonte-2;
        max-width: 600px;
      }

      @include d(s) {
        font: normal normal 900 28px/33px $fonte-2;
        letter-spacing: 0.56px;
        padding-bottom: 30px;
      }
    }

    &--btn-container {
      position: absolute;
      background-color: $azul-claro;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 224px;
      padding: 21px;
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 3px 6px #00000029;
      overflow: hidden;

      @include d(m) {
        padding: 15px;
        bottom: -8%;
      }

      @include d(s) {
        bottom: -10%;
        padding: 15px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        display: block;
        background-color: #fff;
        left: 0;
        top: 0;
        transition: all 0.3s;
        border-radius: 0px;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      a {
        color: $texto-azul;
        font: normal normal bold 20px/20px $fonte-2;
        letter-spacing: 0.4px;
        position: relative;
        z-index: 2;

        &::after {
          position: absolute;
          content: url("../assets/arrow-down-short.svg");
          right: -20%;
          transform: scale(1.2);
        }
      }
    }

    &--download {
      max-width: 270px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;
    }
  }

  &__faq {
    color: $texto-azul;
    padding-bottom: 200px;

    @include d(s) {
      max-width: 360px;
      margin: 0 auto;
      padding-bottom: 50px;
    }

    &--title {
      padding-top: 100px;
      font: normal normal bold 35px/38px $fonte-2;
      letter-spacing: 0.7px;
      text-align: center;
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: url("../assets/question.svg");
        background-color: $azul-claro;
        padding: 6px 12px 3px 12px;
        border-radius: 100%;
        width: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20%;
      }

      @include d(s) {
        font: normal normal bold 20px/38px $fonte-2;
        letter-spacing: 0.4px;

        &::before {
          padding: 12px 12px 0px 12px;
        }
      }
    }

    &--desc {
      max-width: 660px;
      text-align: center;
      margin: 0 auto;
      font: normal normal 600 20px/22px Raleway;
      letter-spacing: 0.32px;
      padding-bottom: 60px;

      @include d(s) {
        font: normal normal 500 14px/16px $fonte-2;
        letter-spacing: 0.22px;
      }
    }

    &--container {
      max-width: 1000px;
      margin: 0 auto;
      box-sizing: border-box;

      @include d(m) {
        max-width: 850px;
      }

      @include d(s) {
        max-width: 305px;
      }

      &__li {
        border-bottom: 1px solid $azul;
        margin-bottom: 50px;

        &:last-of-type {
          margin-bottom: 0px;
        }
      }

      &__button {
        background-color: transparent;
        border: none;
        font: normal normal bold 22px/22px Raleway;
        letter-spacing: 0.44px;
        color: $texto-azul;
        position: relative;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-left: 25px;
        padding-bottom: 20px;

        &::after {
          position: absolute;
          content: url("../assets/arrow-down-short.svg");
          top: 10px;
          right: 20px;
          transform: scale(1.5);
          transition: all 0.3s ease-in-out;
        }

        &.btn-ativo {
          &::after {
            top: 15px;
            transform: scale(1.5) rotate(90deg);
          }
        }

        @include d(s) {
          font: normal normal bold 16px/22px $fonte-2;

          &::after {
            top: 20px;
          }
        }
      }

      &__question {
        margin-top: 30px;
        font: normal 500 normal 20px/22px $fonte-2;
        letter-spacing: 0.32px;
        color: $texto-azul;
        padding: 0 25px 40px;
        display: none;

        @include d(s) {
          font: normal normal normal 16px/22px Raleway;
          letter-spacing: 0.26px;
          margin-top: 20px;
        }
      }
    }
  }
}

.banner {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 660px;
  position: relative;
  @include d(s) {
    background-image: url("../assets/banner-mobile.jpg");
    height: 380px;
  }
  &__btn {
    a {
      color: #232223;
      position: absolute;
      right: 20%;
      bottom: 85px;
      background-color: #b9cd00;
      width: 100%;
      max-width: 290px;
      box-shadow: 0px 3px 16px #b9cd005c;
      border: 1px solid #000000;
      border-radius: 12px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s all ease-in-out;
      @include d(s) {
        max-width: 240px;
        height: 40px;
        font-size: 18px;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -60px;
      }
      &:hover {
        background-color: lighten(#b9cd00, 5%);
      }
      font-size: 24px;
      font-weight: bold;
      font-family: "exo_2extra_bold";
    }
  }
}
