.nossos-servicos {
  &__title {
    color: $texto-marrom;
    font: normal normal 900 30px/20px Roboto;
    letter-spacing: 0.6px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;

    @include d(s) {
      font: normal normal 900 20px/20px Roboto;

    }

    &::before {
      position: absolute;
      content: url("../assets/pata-marrom.svg");
      left: 0;
      right: 0;
      margin: 0;
      top: -265%;
    }
  }

  &__container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include d(m) {
      max-width: 900px;
    }

    @include d(s) {
      overflow: auto;
    }
  }

  &__container-card {
    @include d(s) {
      display: flex;

      &:first-of-type {
        margin-left: 60px;
      }
    }
  }

  &__card {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    max-width: 260px;
    position: relative;
    margin-bottom: 70px;

    @include d(m) {
      max-width: 270px;
    }

    @include d(s) {
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }

  img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    max-width: 100%;
    height: auto;
  }

  &__content {
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 0px 0px 8px 8px;

    @include d(s) {
      width: 200px;
    }

    &--title {
      font: normal normal 900 17px/14px Roboto;
      letter-spacing: 0.36px;
      color: $texto-marrom;
      text-align: center;
      margin-bottom: 30px;
    }

    .button--ler {
      padding: 15px 50px;
      background-color: $verde-claro;
      border-radius: 8px;
      border: none;
      width: 100%;
      max-width: 190px;
      box-sizing: border-box;
      font: normal normal 600 16px/9px Roboto;
      letter-spacing: 0.32px;
      color: $texto-marrom;
      text-align: center;
      position: relative;
      display: block;

      @include d(m) {
        padding: 10px 64px;
      }

      @include d(s) {
        padding: 10px 64px;
      }

      &::after {
        content: url('../assets/setinha.svg');
        position: absolute;
        right: 10%;
        top: 37%;
        margin: 0;
      }
    }
  }

  &__button {
    margin: 60px auto;
    text-align: center;

    a {
      padding: 19px 46px;
      color: $texto-preto;
      background: $verde-claro;
      background: #40C187 0% 0% no-repeat padding-box;
      border: 1px solid #40C187;
      border-radius: 8px;
      position: relative;

      &:hover {
        &::after {
          content: url(../assets/setinha.svg);
          margin: 0 auto;
          position: absolute;
          right: 15px;
        }
      }
    }
  }

  &__desc {
    margin-top: 30px;
    display: none;
  }
}